/* card.module.css */
.card {
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 10px;
}

.cardimg {
    width: 100%;
    height: 200px;
    position: relative;
}

.cardtext {
    padding: 10px;
    height: auto;
    color: black;
}